<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-9">
      <div class="card">
        <div class="card-body p-4 b-b-1" style="background:#e0e0e0">
            <img src="assets/img/add_coupon.png" alt="Add new coupon" style="width:50px; float:left; margin-right:30px"/>
            <h6 class="display-4" style="float:left; font-size:30pt;">Crea un Pacchetto</h6>
        </div>

        <div class="card-body p-5">
          <form [formGroup]="packageForm" (ngSubmit)="saveCoupon()">
            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Titolo</label>
              <div class="col-lg-10 col-sm-8">
                <!--<input value="{{couponPass.title}}" type="text" formControlName="title" class="form-loadCart"-->

                <input type="text" formControlName="title" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.title.errors }"/>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors">Titolo obbligatorio, da 5 a 40 caratteri</div>
                </div>
              </div>
            </div> <!-- Title -->
            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Descrizione</label>
              <div class="col-lg-10 col-sm-8">
                <textarea type="text" formControlName="description" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors">Descrizione obbligatoria, deve essere tra 5 e 255 caratteri.
                  </div>
                </div>
              </div>
            </div> <!-- Description -->


            <div class="row">
              <label  class="col-lg-2 col-sm-4 col-form-label">Seleziona immagine</label>


              <div class="col-lg-10 col-sm-8 col-form-label">
                <input (change)="preview(file.files)" #file  accept="image/*" type="file"  formControlName="image" ng2FileSelect [uploader]="uploader"
                       [ngClass]="{ 'is-invalid': submitted && f.image.errors }"/>
                <div *ngIf="submitted && f.image.errors" >
                  <div  class="custom-invalid-feedback form-group row">
                    <ul  *ngIf="submitted">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-left">Seleziona immagine.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


            </div> <!-- Image -->
            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Prezzo</label>
              <div class="col-lg-8 col-sm-4">
                <input type="number" formControlName="price" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.price.errors }" min="0" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors">Prezzo obbligatorio.</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="freeCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="freeCheck">Gratis</label>
                </div>
              </div>
            </div> <!-- Price -->

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Visibile da: </label>
              <div class="col-sm-8">
                <input style="background: white" type="text" mwlFlatpickr
                       [clickOpens]="true" [noCalendar]="false"  [convertModelValue]="true" [enableTime]="true"
                       dateFormat="Y-m-d H:i" formControlName="published_from" class="form-control"
                       [style.background]="bgColorPrivate"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_from.errors }"/>
                <div *ngIf="submitted && f.published_from.errors " class="invalid-feedback">
                  <div *ngIf=" f.published_from.errors ">Data non valida</div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="privateCheck" class="custom-control-input" id="privateCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="privateCheck">Privato</label>
                </div>
              </div>
            </div> <!-- Visible from -->

            <div *ngIf="couponsAvailable" class="form-group row mb-0">
              <label class="col-sm-2 col-form-label">Seleziona coupons: </label>
              <div class="col-sm-12 col-lg-8">

                <select class="form-control" formControlName="coupons" (change)="openModal(couponAdding)"
                        [ngClass]="{ 'is-invalid': submitted && f.coupons.errors }">
                  <option value="" selected>Scegli un coupon...</option>
                  <option *ngFor="let coupon of couponsAvailable" [value]="coupon.id">{{coupon.title}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="submitted">
                  <div *ngIf="f.coupons.errors?.NumberCouponPurchasable">Hai selezionato più coupon rispetto ai disponibili all'acquisto in un unico pacchetto.</div>
                  <div *ngIf="f.coupons.errors?.NoCouponSelected">Seleziona almeno un coupon da inserire nel pacchetto.</div>
                </div>
              </div>
            </div> <!-- Coupons -->
            <div *ngIf="selectedCoupons" class="form-group row">
              <ul class="col-sm-12 col-lg-8 offset-lg-2 offset-0 list-group pr-0">
                <li *ngFor="let el of selectedCoupons" class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="text-left">{{el.coupon.title}}</span>
                  <span class="text-right">
                    <span class="badge badge-primary badge-pill mr-1">{{el.quantity}}</span>
                    <i class="fas fa-edit mr-1 text-secondary cursor-pointer" (click)="openModal(couponAdding, el.coupon.id, true)"></i>
                    <i class="fas fa-trash-alt text-danger cursor-pointer" (click)="deleteSelected(el.coupon.id)"></i>
                  </span>
                </li>
              </ul>
            </div> <!-- Coupons list -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Seleziona categorie: </label>
              <div class="col-sm-8">
                <ng-select formControlName="categories"
                           [items]="categories"
                           [multiple]="true"
                           [closeOnSelect]="true"
                           [searchable]= "true"
                           bindLabel="name"
                           placeholder="Seleziona categorie"
                           [ngClass]="{ 'is-invalid': submitted && f.categories.errors, 'ng-touched': submitted && f.categories.errors }">
                           <!--[(ngModel)]="selectedCategories">-->
                </ng-select>

                <div *ngIf="submitted && f.categories.errors?.NoCategoriesSelected" class="text-danger" style="font-size: 80%;">Seleziona almeno una categoria.</div>
              </div>
            </div><!-- Categories -->

            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Valido da</label>
              <div class="col-sm-8 col-lg-8">
                <input style="background: white" type="text" mwlFlatpickr
                       [clickOpens]="true" [noCalendar]="false"  [convertModelValue]="true" [enableTime]="true"
                       dateFormat="Y-m-d H:i" formControlName="valid_from" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_from.errors }"/>
                <div *ngIf="submitted && f.valid_from.errors " class="invalid-feedback">
                  <div *ngIf=" f.valid_from.errors ">Data non valida</div>
                </div>
              </div>
            </div> <!-- Valid From -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Scadenza</label>
              <div  class="col-sm-4 col-lg-8">
                <input type="text" mwlFlatpickr
                       [style.background]="bgColorCalendar"
                       [clickOpens]="true"
                       [noCalendar]="false"
                       [convertModelValue]="true"
                       [enableTime]="true"
                       dateFormat="Y-m-d H:i"  formControlName="valid_until" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_until.errors?.MatchDateFromUntil }"/>
                <div *ngIf="submitted && f.valid_until.errors?.MatchDateFromUntil" class="invalid-feedback">
                  <div *ngIf="f.valid_until.errors?.MatchDateFromUntil">Data non valida</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="valid_until_empty" name="valid_until_empty"
                         class="custom-control-input" id="unlimitedCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="unlimitedCheck">Senza scadenza</label>
                </div>
              </div>
            </div> <!-- Valid Until -->

            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Luogo</label>
              <div class="col-sm-4 col-lg-8">
                <input google-place type="text" formControlName="constraints" class="form-control" placeholder="Type to search.."
                  [ngClass]="{ 'is-invalid': submitted && f.constraints.errors }"
                       (onSelect)="setAddress($event)"/>
                <!-- Displaying the contents of the address object received from our event emitter -->
                <div *ngIf="submitted && f.constraints.errors" class="invalid-feedback">
                  <div *ngIf="f.constraints.errors">Campo richiesto</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="constraintsCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="constraintsCheck">Ovunque</label>
                </div>
              </div>
            </div> <!-- Place (constraints) -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Quantità</label>
              <div class="col-sm-12 col-lg-8">
                <input type="number" formControlName="quantity" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"/>
                <div class="invalid-feedback"
                     *ngIf="submitted && f.quantity.errors?.MatchErrorQuantity">
                  <div>Quantità non corretta.</div>
                </div>
                <div class="invalid-feedback"
                     *ngIf="submitted && f.quantity.errors?.QuantityCouponPurchasable">
                  <div>Non ci sono abbastanza coupon disponibili per creare il numero di pacchetti scelto.</div>
                </div>
              </div>
            </div> <!-- Quantity -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Acquisto max per utente</label>
              <div  class="col-sm-4 col-lg-8">
                <input  type="text" formControlName="purchasable" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.purchasable.errors }"/>
                <div *ngIf="submitted && f.purchasable.errors" class="invalid-feedback">
                  <div *ngIf="f.purchasable.errors">Questo valore deve essere inferiore o uguale alla quantità creata</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input  type="checkbox" class="custom-control-input" id="quantityCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="quantityCheck">Senza limiti</label>
                </div>
              </div>
            </div> <!-- Purchasable -->

            <!-- Date errors -->
            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.valid_from.errors?.MatchDate">Errore sulle date
            </div>
            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.valid_until.errors?.MatchDateFromUntil">La data di scadenza deve essere successiva all'inizio di quella di validità.
            </div>
            <div class="form group">
                <button *ngIf="couponsAvailable" class="btn btn-block btn-success btn-create-coupon" [disabled]="coupons.length == 0">Crea</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #couponAdding>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-plus-circle mr-3"></i>{{editCoupon ? 'Modifica ' : 'Aggiungi '}} "{{modalCoupon.title.length > 20 ?
      modalCoupon.title.substring(0, 20) + '...' : modalCoupon.title}}" {{editCoupon ? 'nel ' : 'al '}} pacchetto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="myForm" class="container">
      <div class="form-group row">
        <label class="col-sm-7 my-auto" style="font-size: 16px;">Inserisci la quantità: <i class="text-info">
          ({{maxQuantity}} disponibil{{maxQuantity > 1 ? 'i' : 'e' }})</i></label>

        <input formControlName="quantity" class="col-sm-2 form-control d-inline-block" type="number" min="1"
               max="{{modalCoupon.max_quantity}}"/>

        <button class="btn btn-secondary col-sm-1 ml-1" (click)="changeCouponQuantity(false)" [disabled]="myForm.value.quantity === 1">
          <i class="fas fa-minus text-white"></i>
        </button>
        <button class="btn btn-primary col-sm-1 ml-1" (click)="changeCouponQuantity(true)" [disabled]="isMax"><i class="fas fa-plus text-white"></i></button>

        <div class="col-sm-12 ml-2" style="color: #bd0a0d;" *ngIf="f.quantity.errors">Inserire una quantità valida!</div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Annulla</button>
    <button type="button" class="btn btn-success" (click)="addToPackage(modalCoupon)">
      {{editCoupon ? 'Modifica' : 'Aggiungi'}}
    </button>
  </div>
</ng-template>
