.crop {
  width: 100%;
  height: 70px;
  overflow: hidden !important;
}

.centered-and-cropped {
  object-fit: cover
}

p {
  display: block;
  max-width: 400px;
  /*height: 109.2px;*/
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

h5 {
  /*display: block; !* Fallback for non-webkit *!*/
  display: -webkit-box;
  max-width: 400px;
  /*height: 90px; !* Fallback for non-webkit *!*/
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.dropdown-menu {
  min-width: 0!important;
}

.fas, .far{
  font-size: 1.3em;
}

.card-price {
  background-color: #4dbd74;
  border-radius: 0.25rem;
  font-size: 1.25em;
  font-weight: bold;
  min-width: 115px;
  height: auto;
  padding: 5px 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
}


