<div *ngIf="user && cart.length > 0" class="container-fluid mb-0">
  <div class="row">
    <div class="col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-header" style="background:#e0e0e0">
          <h6 class="display-4" style="font-size:30pt;">Riepilogo dell'ordine</h6>
        </div>
        <div class="card-body p-4 b-b-1">
          <div class="container-fluid">
            <div class="container-fluid d-none d-md-none d-xl-block">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th style="width: 40%">Titolo</th>
                  <th style="width: 10%">Immagine</th>
                  <th style="width: 10%">Prezzo</th>
                  <th style="width: 10%">Quantità</th>
                  <th style="width: 10%">Scadenza</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let coupon of coupons">
                  <td><span style="font-size: 17px;">{{coupon.title}}</span><br/><i style="color: #999; font-size: 15px;">{{coupon.description}}</i>
                  </td>
                  <td><img class="img-thumbnail" [src]="imageUrl(coupon.image)"
                           alt="Card image cap"></td>
                  <td>{{formatPrice(coupon.price)}}</td>
                  <td>{{coupon.quantity}}</td>
                  <td>{{coupon.valid_until === null? 'Illimitato': formatUntil(coupon.valid_until) }}</td>
                </tr>

                </tbody>

              </table>
              <div class="float-right">
                <h3  class="">Importo totale: {{formatPrice(totalAmount)}}</h3>

              </div>

              <h2 >Dati fatturazione</h2>

              <p class=" margin-p"><b>Nome: </b>{{user.first_name + ' ' + user.last_name}}</p>
              <p class=" margin-p"><b>Codice Fiscale: </b>{{user.fiscal_code}}</p>
              <p class=" margin-p"><b>Account Paypal: </b>{{user.email_paypal}}</p>
              <button class="btn btn-lg btn-success float-right ml-2" (click)="openModal(template)">
                <i class="fas fa-euro-sign"></i>
                Conferma e paga
              </button>
              <button class="btn btn-lg btn-primary float-right" (click)="retry()">
                <i class="fas fa-shopping-basket"></i>
                Ritorna al Carrello</button>
            </div> <!-- XL TABLE -->
            <div class="container-fluid d-none d-md-none d-lg-block d-xl-none">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th style="width: 40%">Titolo</th>
                  <th style="width: 10%">Immagine</th>
                  <th style="width: 10%">Prezzo</th>
                  <th style="width: 10%">Quantità</th>
                  <th style="width: 10%">Scadenza</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let coupon of coupons">
                  <td><span style="font-size: 17px;">{{coupon.title}}</span><br/><i style="color: #999; font-size: 15px;">{{coupon.description}}</i>
                  </td>
                  <td><img class="img-thumbnail" [src]="imageUrl(coupon.image)"
                           alt="Card image cap"></td>
                  <td>{{formatPrice(coupon.price)}}</td>
                  <td>{{coupon.quantity}}</td>
                  <td>{{coupon.valid_until === null? 'Illimitato': formatUntil(coupon.valid_until) }}</td>
                </tr>

                </tbody>

              </table>

              <div class="float-right">
                <h3  class="">Importo totale: {{formatPrice(totalAmount)}}</h3>

              </div>

              <h2 >Dati fatturazione</h2>

              <p class=" margin-p"><b>Nome: </b>{{user.first_name + ' ' + user.last_name}}</p>
              <p class=" margin-p"><b>Codice Fiscale: </b>{{user.fiscal_code}}</p>
              <p class=" margin-p"><b>Account Paypal: </b>{{user.email_paypal}}</p>

              <button class="btn btn-lg btn-success float-right ml-2" (click)="openModal(template)">
                <i class="fas fa-euro-sign"></i>
                Conferma e paga
              </button>
              <button class="btn btn-lg btn-primary float-right" (click)="retry()">
                <i class="fas fa-shopping-basket"></i>
                Ritorna al Carrello</button>
            </div> <!-- LG TABLE -->
            <div class="container-fluid d-none d-md-block d-lg-none">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th style="width: 40%">Titolo</th>
                  <th style="width: 10%">Immagine</th>
                  <th style="width: 10%">Prezzo</th>
                  <th style="width: 10%">Quantità</th>
                  <th style="width: 10%">Scadenza</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let coupon of coupons">
                  <td><span style="font-size: 17px;">{{coupon.title}}</span><br/><i style="color: #999; font-size: 15px;">{{coupon.description.substr(0, 40) + '...'}}</i>
                  </td>
                  <td><img class="img-thumbnail" [src]="imageUrl(coupon.image)"
                           alt="Card image cap"></td>
                  <td>{{formatPrice(coupon.price)}}</td>
                  <td>{{coupon.quantity}}</td>
                  <td>{{coupon.valid_until === null? 'Illimitato': formatUntil(coupon.valid_until) }}</td>
                </tr>

                </tbody>

              </table>
              <div class="float-right">
                <h4  class="">Importo totale: {{formatPrice(totalAmount)}}</h4>

              </div>

              <h3 >Dati fatturazione</h3>

              <p class=" margin-p"><b>Nome: </b>{{user.first_name + ' ' + user.last_name}}</p>
              <p class=" margin-p"><b>Codice Fiscale: </b>{{user.fiscal_code}}</p>
              <p class=" margin-p"><b>Account Paypal: </b>{{user.email_paypal}}</p>
              <button class="btn btn-lg btn-success float-right ml-2" (click)="openModal(template)">
                <i class="fas fa-euro-sign"></i>
                Conferma e paga
              </button>
              <button class="btn btn-lg btn-primary float-right" (click)="retry()">
                <i class="fas fa-shopping-basket"></i>
                Ritorna al Carrello</button>
            </div> <!-- MD TABLE -->
            <div   class="d-none d-sm-block d-lg-none d-md-none d-xl-none">

              <div *ngFor="let coupon of coupons">
                <div style="background-color: snow; " class="card flex-row flex-wrap">
                  <div style="background-color:snow" class="card-header border-0 col-sm-4 col-5">
                    <img class="div-image"  [src]="imageUrl(coupon.image)" alt="">
                  </div>
                  <div class="col-sm-8 col-7" style="padding-bottom: 1em; padding-top: 1em">
                    <h5 class="card-text">{{coupon.title}}</h5>


                  </div>
                  <div class="div-description">{{coupon.description}}</div>
                  <div   class="text-info div-validity">


                      Scadenza: {{coupon.valid_until === null? 'Illimitato': formatUntil(coupon.valid_until) }}

                  </div>
                  <div  class="card-footer w-100 text-muted div-quantity">

                      Quantità: {{coupon.quantity}}

                    <div style="float: right">
                      {{formatPrice(coupon.price)}}
                    </div>
                  </div>
                </div>




              </div>

              <div class="float-right ">
                <h5  class="">Importo totale: {{formatPrice(totalAmount)}}</h5>

              </div>

              <h4 class="div-top-info" >Dati fatturazione</h4>

              <p  class=" margin-p"><b>Nome: </b>{{user.first_name + ' ' + user.last_name}}</p>
              <p  class=" margin-p"><b>Codice Fiscale: </b>{{user.fiscal_code}}</p>
              <p  class=" margin-p"><b>Account Paypal: </b>{{user.email_paypal}}</p>
              <button class="btn btn-lg btn-success p-2  float-right ml-2" (click)="openModal(template)">
                <i class="fas fa-euro-sign"></i>
                Conferma e paga
              </button>
              <button class="btn btn-lg btn-primary p-2  float-right" (click)="retry()">
                <i class="fas fa-shopping-basket"></i>
                Ritorna al carrello</button>
          </div><!-- SM CARD -->


            <div   class="d-block d-xl-none d-sm-none d-md-none d-lg-none ">

              <div *ngFor="let coupon of coupons">
                <div style="background-color: snow; " class="card flex-row flex-wrap">
                  <div style="background-color:snow" class="card-header border-0  col-5">
                    <img class="div-image-xs" [src]="imageUrl(coupon.image)" alt="">
                  </div>
                  <div class="col-sm-8 col-7 div-title" >
                    <h5 class="card-text">{{coupon.title}}</h5>


                  </div>
                  <div class="div-description">{{coupon.description}}</div>
                  <div   class="text-info div-validity">


                    Scadenza: {{coupon.valid_until === null? 'Illimitato': formatUntil(coupon.valid_until) }}

                  </div>
                  <div  class="card-footer w-100 text-muted div-quantity">

                    Quantità: {{coupon.quantity}}

                    <div style="float: right">
                      {{formatPrice(coupon.price)}}
                    </div>
                  </div>
                </div>




              </div>

              <div class="float-right ">
                <h5  class="">Totale: {{formatPrice(totalAmount)}}</h5>

              </div>

              <h4 class="margin-top-info" >Dati fatturazione</h4>

              <p  class=" margin-p"><b>Nome: </b>{{user.first_name + ' ' + user.last_name}}</p>
              <p  class=" margin-p"><b>Codice Fiscale: </b>{{user.fiscal_code}}</p>
              <p  class=" margin-p"><b>Account Paypal: </b>{{user.email_paypal}}</p>
              <button class="btn btn-lg btn-success p-2  float-right ml-2" (click)="openModal(template)">
                <i class="fas fa-euro-sign"></i>
                Paga
              </button>
              <button class="btn btn-lg btn-primary p-2  float-right" (click)="retry()">
                <i class="fas fa-shopping-basket"></i>
                Carrello</button>
            </div><!-- XS CARD -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="cart.length === 0">
  <h2>Prima di fare il checkout, si prega di aggiungere alcuni prodotti al carrello.</h2>
  <button class="col-sm-5 btn btn-danger" (click)="retry()">Ritorna al Carrello</button>
</div>

<ng-template  #template>
  <div  class="modal-header">
    <h4 class="modal-title pull-left">Pagamento n. #236748227</h4> <!-- TODO: fix order number -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div  class="modal-body">
    <p *ngIf="totalAmount !== 0" class="card-text">Seleziona <b>metodo di pagamento</b> preferito, per finalizzare il tuo acquisto.
      Dopo aver completato il pagamento, riceverai un messaggio di conferma.</p>
    <p *ngIf="totalAmount === 0" class="card-text">Il tuo ordine è <b>Gratis!</b>, puoi saltare la fase di pagamento. Vuoi confermare il tuo acquisto?</p>
  </div>

  <div   class="modal-footer">
    <button *ngIf="totalAmount === 0" type="button" class="btn btn-success" (click)="buy()">Conferma acquisto (senza pagare)
    </button>
    <ngx-paypal   class="mx-auto" *ngIf="totalAmount > 0" [config]="payPalConfig"></ngx-paypal>
  </div>
</ng-template>

