<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="card mx-4">
        <div class="card-body p-4">
          <h1 class="text-center">Details</h1>
          <h4 class="text-muted text-center">Create Coupon</h4>

              <label class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <!--<input value="{{couponPass.title}}" type="text" formControlName="title" class="form-control"-->

                <label type="text">{{couponPass.title}}</label>

              </div>





        </div>

      </div>


    </div>

  </div>
</div>
