<div *ngIf="couponPass && !error404" class="container-fluid px-0">
  <div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 pl-md-0">
    <div class="card mx-md-3" style="padding: 5px">
      <img class="card-img-top crop centered-and-cropped" src="{{imageURL + couponPass.image}}" alt="Card image cap">
      <div class="card-body p-4">
        <h3 class="card-title mb-0">{{couponPass.title}}</h3>
        <p *ngIf="couponPass && couponPass.owner">di
          <i [routerLink]="['/producer-info']"
             class="font-weight-bold text-primary cursor-pointer">{{producer === null ? null : producer.company_name
            }}</i>
        </p>

        <div class="coupon-price">{{formatPrice(couponPass.price)}}</div>
        <div class="coupon-cart cursor-pointer" *ngIf="inCart(couponPass.id)" (click)="viewCart()">
          <i class="fas fa-cart-arrow-down"></i>
        </div>

        <p class="card-text mt-3" [innerHTML]="byPassHTML(couponPass.description)"></p>
        <p *ngIf="couponPass.max_quantity >= 10" class="card-text"><i style="color:#0c8a33">Alta disponibilità</i></p>

        <p *ngIf="couponPass.max_quantity > 4 && couponPass.max_quantity < 10" class="card-text"><i style="color:#ffd51c">Bassa
          disponibilità</i></p>

        <p *ngIf="couponPass.max_quantity > 0 && couponPass.max_quantity < 5" class="card-text">
          <i style="color:#FF0000">
            Solo {{couponPass.max_quantity}} disponibil{{couponPass.max_quantity === 1 ? 'e' : 'i'}}
          </i>
        </p>
        <p *ngIf="couponPass.max_quantity < 1" class="card-text"><i style="color:rgba(55,87,85,0.15)">Esauriti</i>
        </p>

        <p class="card-text">
          <i class="fas fa-fw  fa-clock text-secondary"></i> Validità: {{formatUntil(couponPass.valid_until)}}
          <br/>

          <span *ngIf="couponPass.constraints && couponPass.type === item_type.COUPON">
              <i class="fas fa-fw fa-map-marker-alt text-secondary"></i> {{couponPass.constraints}}

              <img class="img-fluid d-block mt-3" alt="{{couponPass.constraints}} map"
                   src="{{'https://maps.googleapis.com/maps/api/staticmap?size=600x300&zoom=18&maptype=roadmap&markers=size:mid%7C' + couponPass.constraints + 'color:red%7&key=AIzaSyAjKzYOB3pXeI79ONHTp066mDb3xzTtUKc'}}"
              >
            </span>
        </p>
        <div class="package-coupons" *ngIf="couponsPackage !== null">
          <p><i class="fas fa-fw fa-box-open text-secondary"></i> Coupon inclusi nel pacchetto: <b>{{getNumberCoupons()}}</b></p>
          <div *ngFor="let cp of couponsPackage | keyvalue" class="coupon-border-detail p-3">
            <div class="striped d-block d-md-block d-xl-block">
              <b class="d-block my-1">{{cp.value[0].title}} ({{cp.value.length}})</b>
              <div class="w-50 d-inline-block p-2">
                <img class="img-fluid" src="{{imageURL + cp.value[0].image}}">
              </div>
              <div class="w-50 d-inline-block p-2">
                <img class="img-fluid"
                     src="{{'https://maps.googleapis.com/maps/api/staticmap?size=600x300&zoom=18&maptype=roadmap&markers=size:mid%7C' + cp.value[0].constraints + 'color:red%7&key=AIzaSyAjKzYOB3pXeI79ONHTp066mDb3xzTtUKc'}}">
                <!--<h5 class="centered-text-image-map" *ngIf="couponsPackage[key].constraints == null"> Mappa assente</h5>-->
              </div>
            </div>
            <!--<hr *ngIf="(i+1) < Object.keys(couponsPackage).length"/>-->
          </div>
        </div>

        <div class="mt-4" *ngIf="desktopMode">
          <button *ngIf="!inCart(couponPass.id) && couponPass.max_quantity > 0"
                  class="btn btn-lg btn-success float-right ml-2" title="hai già un oggetto nella cassa, rimuovilo o completa l'acquisto prima di acquistarne altri"
                  [disabled]="!isCartEmpty()" (click)="openModal(template)">
            Acquista
          </button>
          <button *ngIf="inCart(couponPass.id)" class="btn btn-lg btn-success float-right ml-2" (click)="viewCart()"><i
            class="fas fa-shopping-cart"></i> Paga
          </button>
          <button class="btn btn-lg btn-primary float-right" (click)="retry()">Ritorna allo shopping</button>
        </div>

        <div *ngIf="!desktopMode">
          <button *ngIf="!inCart(couponPass.id) && couponPass.max_quantity > 0 && isUserLoggedIn"
                  class="btn  btn-success float-right ml-2" title="hai già un oggetto nella cassa, rimuovilo o completa l\'acquisto prima di acquistarne altri"
                  [disabled]="!isCartEmpty()" (click)="openModal(template)">
            <i class="fas fa-euro-sign"> </i> Acquista
          </button>
          <button *ngIf="inCart(couponPass.id)" class="btn btn-success float-right ml-2" (click)="viewCart()">
            <i class="fas fa-shopping-cart"> </i> Paga
          </button>
          <button class="btn  btn-primary float-right" (click)="retry()"><i class="fas fa-shopping-basket">
          </i> Shopping
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="error404" class="row m-0" style="height: 368px;">
  <div class="col-6 offset-3 text-center my-auto">
    <p><i class="fas fa-skull fa-4x"></i></p>
    <h2>Errore 404</h2>
    <h4 class="mb-4">Sembra che qua non ci sia nulla!</h4>
    <button class="btn btn-info btn-lg text-white mt-4" [routerLink]="['../../showcase']">
      <i class="fas fa-arrow-circle-left mr-2"></i>Torna allo shopping
    </button>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Acquista "{{couponPass.title.length > 20 ? couponPass.title.substring(0, 20) +
      '...' :
      couponPass.title}}"</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="myForm" class="container">
      <!--<label class="row">You are adding <i class="text-info">{{' ' + modalCoupon.title + ' '}}</i> to the cart. </label>-->
      <div class="form-group row">
        <label class="col-sm-7 my-auto" style="font-size: 16px;">Seleziona la quantità: <i class="text-info">
          ({{couponPass.max_quantity}} disponibil{{couponPass.max_quantity > 1? 'i' : 'e'}})</i></label>

        <input formControlName="quantity" class="col-sm-2 form-control d-inline-block" type="number" min="1"
               max="{{couponPass.max_quantity}}"/>

        <button class="btn btn-secondary col-sm-1 ml-1" (click)="del()" [disabled]="myForm.value.quantity === 1">
          <i class="fas fa-minus text-white"></i>
        </button>
        <button class="btn btn-primary col-sm-1 ml-1" (click)="add()" [disabled]="isMax"><i
          class="fas fa-plus text-white"></i></button>

        <div class="col-sm-12 ml-2" style="color: #bd0a0d;" *ngIf="f.quantity.errors">Inserire una quantità valida!
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Annulla</button>
    <button type="button" class="btn btn-success" (click)="addToCart()">Acquista</button>
  </div>
</ng-template>
