
.card-body p {
  font-size: 15px;
}

.card-text {
  font-size: 16px !important;
}

.btn-generic {
  margin: 0 auto;
  padding: 13px;
  width: 20%;
  font-size: 18px;
  min-width: 200px;
}

.inline-button-input {
  display: inline-block;
  border-radius: 0.15em;
  border: 1px solid lightgray;

}

.button-add-del {
  border-radius: 25em !important;
}

.crop {
  width: 100%;
  height: 240px;
  overflow: hidden !important;
}

.centered-and-cropped {
  object-fit: cover
}

.padding-left-card {

  padding-left: 3em;
}

