
.card-body p {
  font-size: 15px;
}

.card-text {
  font-size: 16px !important;
}

.btn-generic {
  margin: 0 auto;
  padding: 13px;
  width: 20%;
  font-size: 18px;
  min-width: 200px;
}

.inline-button-input {
  display: inline-block;
  border-radius: 0.15em;
  border: 1px solid lightgray;

}

.button-add-del {
  border-radius: 25em !important;
}

.crop {
  width: 100%;
  height: 240px;
  overflow: hidden !important;
}

.centered-and-cropped {
  object-fit: cover
}

.padding-left-card {

  padding-left: 3em;
}

#content{ padding:4px 10px 10px 10px;}
#left{ float:left; width:49%;  }
#center{ float: top; padding-top: 20px; padding-bottom: 15px}
#right{width:49%; float:right; }
.crop-package {
  width: 100%;
  height: 120px;
  overflow: hidden !important;
}

.centered-and-cropped-package {
  object-fit: cover
}

.centered-text-image-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-image-map {
  position: relative;
  text-align: center;
  color: white;
}
hr {
  margin-top: 120px;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #bd0a0d;
}

