
.card-body p {
  font-size: 15px;
}

.card-text {
  font-size: 16px !important;
}

.btn-generic {
  margin: 0 auto;
  padding: 13px;
  width: 20%;
  font-size: 18px;
  min-width: 200px;
}

.inline-button-input {
  display: inline-block;
  border-radius: 0.15em;
  border: 1px solid lightgray;

}

.button-add-del {
  border-radius: 25em !important;
}

.crop {
  width: 100%;
  height: 240px;
  overflow: hidden !important;
}

.centered-and-cropped {
  object-fit: cover
}

.padding-left-card {
  padding-left: 3em;
}

.crop-package {
  width: 100%;
  height: 120px;
  overflow: hidden !important;
}

.centered-and-cropped-package {
  object-fit: cover
}

.centered-text-image-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-image-map {
  position: relative;
  text-align: center;
  color: white;
}
hr {
  border: 0;
  border-top: 1px solid #bd0a0d;
}

.coupon-border-detail {
  border-radius: 15px;
  background-color: #efefef;

  b {
    font-size: 15px;
    color: #333;
  }
}

.package-coupons .coupon-border-detail {
  margin-bottom: 1.5rem;
}

.package-coupons .coupon-border-detail:last-child {
  margin-bottom: 0;
}
