<div class="container-fluid">
  <h2 class="">I miei ordini</h2>
  <div class="row ml-0">
    <ng-container *ngFor="let order of orders">
      <div class="col-lg-8 col-md-10 col-sm-10 col-11 ml-1 mb-2 px-0 bg-white">
        <div class="w-100 pl-0">
          <div class="row py-2 px-3">
            <div class="col-sm-3 col-6">
              <p class="text-uppercase font-weight-bold small mb-0">Data ordine:</p>
              <p class="text-uppercase small mb-0">{{formatDate(order.purchase_time)}}</p>
            </div>
            <div class="col-3">
              <p class="text-uppercase font-weight-bold small mb-0">Totale</p>
              <p class="text-uppercase small mb-0" *ngIf="order.total">{{formatPrice(order.total)}}</p>
            </div>
            <div class="col-3 offset-sm-3 offset-0 text-right">
              <p class="text-uppercase font-weight-bold small mb-0">Ordine #{{order.id}}</p>
            </div>
          </div> <!-- Header -->
          <div class="col-12 bg-blue" style="height: 5px;"></div> <!-- Blue row -->
          <div class="row px-3 py-2">
            <div class="card-body p-3">
              <ng-container *ngFor="let coupon of order.coupons; let i = index">

                <div class="row">
                  <div class="col-sm-3 col-6 pb-2 pr-2">
                    <img class="img-fluid" [src]="imageUrl(coupon.image)" alt="Card image cap">
                    <div class="quantity position-absolute rounded-circle bg-info">{{coupon.quantity}}</div>
                  </div>
                  <div class="col-sm-9 col-6">
                    <h4 class="mb-0">{{coupon.title}} </h4>
                    <p class="small" *ngIf="order.vendor">Venduto da: {{order.vendor.company_name}}</p>
                    <h5 class="mb-0">{{formatPrice(coupon.price*coupon.quantity)}}</h5>

                    <div class="buttons-bottom">

                      <ng-container *ngIf="coupon.token; else elseBlock">
                        <button class="btn btn-success mr-sm-2 mr-0" (click)="redeem(coupon)">
                          <i class="fas fa-play mr-1 d-sm-inline d-none"></i>Riscatta
                        </button>
                      </ng-container>
                      <ng-template #elseBlock>
                      <button class="btn btn-danger mr-sm-2 mr-0" (click)="riscattato">
                        <i class="fas fa-play mr-1 d-sm-inline d-none"></i>Riscattato
                      </button>
                      </ng-template>

                      <button class="btn btn-info text-white" (click)="details(coupon)">
                        <i class="fa fa-info-circle mr-sm-1"></i><span class="d-none d-sm-inline">Dettagli</span>
                      </button>
                    </div>
                  </div>
                </div> <!-- Coupons -->

                <hr class="my-3" *ngIf="(i+1) !== order.coupons.length">

              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!--<div class="col-lg-4 position-absolute bg-white" style="height: 400px;">-->
    <!--</div>-->
  </div>
</div>
