<div *ngIf="done" class="table-responsive d-none d-md-none d-lg-block">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 20%">Ordine N°</th>
          <th scope="col" style="width: 30%">Data acquisto</th>
          <th scope="col" style="width: 30%">Costo</th>

          <!--<th scope="col" style="width: 15%">Prezzo</th>-->
          <!--<th scope="col" style="width: 25%">Stato</th>-->
          <th scope="col" style="width: 20%"></th>
        </tr>
      </thead>

      <tbody class="col-sm-12" *ngFor="let order of ordersFull">
        <tr *ngIf="order">
          <td>
            <span style="font-size: 17px;">{{order.order.id}}</span> <br/>
          </td>
          <td>
            <span style="color: #999; font-size: 15px;">{{order.purchase_time.substr(0, 10)}}</span>
            <i style="color: #999; font-size: 15px;"> ore:{{order.purchase_time.substr(11, 8)}}</i>

          </td>

          <td>
            <span style="font-size: 17px;">{{formatPrice(order.price)}}</span> <br/>
          </td>
          <td>
            <button type="button" (click)="details(order)" class="btn btn-info text-white">
              <i class="fas fa-info-circle"></i> Dettagli
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- XL + LG VIEW -->

<div class="d-none d-md-block d-lg-none">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="width: 20%">Ordine N°</th>
        <th scope="col" style="width: 30%">Data acquisto</th>
        <th scope="col" style="width: 30%">Costo</th>

        <!--<th scope="col" style="width: 25%">Stato</th>-->
        <th scope="col" style="width: 20%"></th>
      </tr>
      </thead>

      <tbody class="col-sm-12" *ngFor="let order of ordersFull">
      <tr *ngIf="order ">
        <td>
          <span style="font-size: 17px;">{{order.order.id}}</span> <br/>
        </td>
        <td>
          <span style="color: #999; font-size: 15px;">{{order.purchase_time.substr(0, 10)}}</span>
            <i style="color: #999; font-size: 15px;"> ore:{{order.purchase_time.substr(11, 8)}}</i>
        </td>
        <td>
          <span style="font-size: 17px;">{{formatPrice(order.price)}}</span> <br/>
        </td>

        <td>
          <button type="button" (click)="details(order)" class="btn btn-info text-white">
            <i class="fas fa-info-circle"></i> Dettagli
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- MD VIEW -->
<div class="d-block d-md-none">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="width: 20%">N°</th>
        <th scope="col" style="width: 30%">Data acquisto</th>
        <th scope="col" style="width: 30%">Costo</th>
        <th scope="col" style="width: 20%"></th>
      </tr>
      </thead>

      <tbody class="col-sm-12" *ngFor="let order of ordersFull">
      <tr *ngIf="order">
        <td>
          <span style="font-size: 17px;">{{order.order.id}}</span> <br/>
        </td>
        <td>
          <span style="color: #999; font-size: 15px;">{{order.purchase_time.substr(0, 10)}}</span>
            <br/><i style="color: #999; font-size: 15px;">ore:{{order.purchase_time.substr(11, 8)}}</i>

        </td>

        <td>
          <span style="font-size: 17px;">{{formatPrice(order.price)}}</span> <br/>
        </td>
        <!--<td [ngStyle]="{color: token.verifier ? 'red' : '#24cc32'}" class="text-uppercase td-state"><b>{{formatState(token.verifier)}}</b></td>-->
        <td class="text-center">
          <button type="button" (click)="details(order)" class="btn btn-info text-white">
            <i class="fas fa-info-circle"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- SM VIEW -->
