<div *ngIf="orderPass !== null" class="container-fluid px-0">
  <!--<div class="row">-->
    <div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 pl-md-0">
      <div [class]="classMx4" style="padding: 5px">
        <div class="card-body p-4">
          <h3 class="card-title mb-0">Ordine N° {{orderPass.order.id}}</h3>
          <br>
          <i class="h5">Pagato {{formatPrice(orderPass.price)}}</i>
          <br/>
          <i class="h5">Data {{orderPass.purchase_time.substr(0, 10)}} alle ore {{orderPass.purchase_time.substr(11, 8)}}</i>
          <br>
          <br>
          <div class="h5">Lista Coupons inclusi nell'ordine:</div>
          <div *ngFor="let content of listTitleQuantityPrice">
            <div *ngIf="content">
              {{content.title}} quantità {{content.quantity}} prezzo {{formatPrice(content.price)}}
            </div>
          </div>
          <br>

          <button  class="btn btn-danger btn-retry mr-2" (click)="retry()"><i class="fas fa-arrow-circle-left"></i> I miei ordini</button>
        </div>

      </div>
    </div>
  <!--</div>-->
</div>

<ng-template #qrModal>
  <div class="modal-body text-center">
    <button type="button" class="close pull-right mb-4" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="mb-3">Codice coupon: {{orderPass.order.id}}</h3>
    <qrcode class="d-table mx-auto" [qrdata]="orderPass.order.id" [size]="qrSize" [level]="'L'"></qrcode>
  </div>
</ng-template>
