<div *ngIf="orderPass !== null" class="container-fluid px-0">
  <!--<div class="row">-->
    <div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 pl-md-0">
      <div [class]="classMx4" style="padding: 5px">
        <div class="card-body p-4">
          <h3 class="card-title mb-0">Ordine N° {{orderPass.order.id}}</h3>
          <br>
          <i class="h5">Pagato {{formatPrice(orderPass.price)}}</i>
          <br/>
          <i class="h5">{{formatDate(orderPass.purchase_time)}}</i>
          <br>
          <br>
          <div class="h5">Coupons inclusi nell'ordine:</div>
          <br>
          <div *ngFor="let content of listTitleQuantityPrice">
            <div style="cursor: pointer" class ='card card-body p-4' (click)="details(content)"*ngIf="content">

              <i  class="la la-trash text-info h5 "> {{content.title}} quantità {{content.quantity}} prezzo unitario {{formatPrice(content.price)}}</i>

            </div>
          </div>
          <br>

          <button  class="btn btn-danger btn-retry mr-2" (click)="retry()"><i class="fas fa-arrow-circle-left"></i> I miei ordini</button>
        </div>

      </div>
    </div>
  <!--</div>-->
</div>

