<!-- TODO TO CHECk
<div class="container-fluid">
  <ng-container *ngFor="let order of orders">
    <div *ngIf="order" class="container-fluid px-0 bg-white">
      &lt;!&ndash;<div class="row">&ndash;&gt;
      <div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 pl-md-0">
        <div [class]="classMx4" style="padding: 5px">
          <div class="card-body p-4">
            <h3 class="card-title mb-0">Ordine N° {{order.id}}</h3>
            <br>
            <i class="h5">Costo totale {{formatPrice(order.total)}}</i>
            <br/>
            <i class="h5">{{formatDate(order.purchase_time)}}</i>
            <br>
            <br>
            <div class="h5">Coupon inclusi nell'ordine:</div>
            <br>
            <div *ngFor="let coupon of coupons">
              <div *ngIf="coupon.id" class='card card-body p-4'>
                <i class="la la-trash text-info h5 "> {{coupon.title}} </i>
                <i class="la la-trash text-info h5 "> Quantità {{coupon['quantityBought']}}</i>
                <i class="la la-trash text-info h5 "> Prezzo unitario {{formatPrice(coupon.price)}}</i>
              </div>
            </div>
            <br>
            <button class="btn btn-danger btn-retry mr-2" (click)="retry()"><i class="fas fa-arrow-circle-left"></i> I
              miei ordini
            </button>
            <button class="btn btn-primary btn-retry" (click)="myPurchases()"> I miei acquisti</button>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
</div>
-->
