.btn-outline-dark {
  background: white;
}

.truncate {
  width: 90%;
  float: right;
}

.crop-cart {
  width: 100px;
  height: 100px;
  overflow: hidden !important;
}

.centered-and-cropped-cart {
  object-fit: cover
}

#main-container {
  padding-left: 5px!important;
  padding-right: 5px!important;
}

@media only screen and (min-width: 678px) and (max-width: 991px) {
  td > .btn {
    padding: 3px 5px;
    margin-right: 5px;
  }
}
