@media screen and (max-width: 768px) {
  .padding-breadcrumb-mobile {
    padding-bottom: 7em;
  }
}

@media screen and (min-width: 768px) {
  .fixed-desktop {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

.fixed-cart-desktop {
  position: fixed;
  left: 72.5%;
  width: 320px;
  text-align: right;
}

#select-category option {
  background-color: #fff;
}

#search-suggestions {
  border: 1px solid #e4e5e6;
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  padding-left: 0;
  z-index: 1;


  li {
    padding: 5px 8px;
  }

  li:hover {
    background-color: #e4e5e6;
  }
}
