<nav class=" fixed-desktop" aria-label="breadcrumb" *ngIf="isUserLoggedIn || !authPage">

  <!-- SEARCHBAR COUPONS -->
  <div *ngIf="!userType || userType == 2"
       class="breadcrumb border bg-gray-sardcoin border-gray-sardcoin border-left-0 border-right-0 h-100"
       [ngStyle]="{'padding': isUserLoggedIn ? '0px 9px 0px 72px' : '0px 9px 0px 16px'}" style="max-height: 49px">
    <div class="row col-md-9 my-auto">

      <div class="" dropdown>
        <select name="select-category" id="select-category" class="btn icon-card mr-0 bg-light"
                style="border-radius: 0.25rem 0 0 0.25rem" (change)="onChange($event.target.value)">
          <option value="0">Tutte le categorie</option>
          <ng-container *ngFor="let category of categories">
            <option [value]="category.id">{{category.name}}</option>
          </ng-container>
        </select>
      </div>

      <div class="col-md-8 p-0">
        <form (submit)="searchCoupons(); showListSuggestions(false)">
          <input type="text" class="form-control form-check-inline align-middle mr-0 p-2"
                 style="border-radius: 0; border-right: 0" placeholder="Cerca un coupon..."
                 [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (input)="giveSuggestions()"/>

        </form>
        <ul id="search-suggestions" class="rounded-bottom"
            *ngIf="showSuggestions | async" (clickOutside)="showListSuggestions(false)">
          <ng-container *ngFor="let coupon of coupons | filter:searchText; let i = index">
            <li *ngIf="i < MAX_SUGGESTIONS" (click)="goToCouponDetails(coupon); showListSuggestions(false)"
                class="cursor-pointer">
              <!--{{coupon.title + ' - ' + coupon.description}}-->
              {{getListElement(coupon)}}
            </li>
          </ng-container>
        </ul>

      </div>
      <button class="btn btn-primary" (click)="searchCoupons()" style="border-radius: 0 0.25rem 0.25rem 0"><span
        class="fas fa-search"></span>
      </button> <!-- Search button -->
    </div>

    <div class="col my-auto" style="margin-right: -0.5em; text-align: right">
      <div *ngIf="desktopMode">
        <a *ngIf="cart.length === 0" class="text-white">Il tuo carrello <b class="text-info">è vuoto</b>! </a>
        <a *ngIf="cart.length > 0" class="text-white cursor-pointer" [routerLink]="['/reserved-area/consumer/cart']">
          {{cart.length === 1 ? "C'è" : 'Ci sono'}} <b class="text-info">{{cart.length}} {{cart.length === 1 ?
          'coupon' : 'coupons'}}</b> nel tuo carrello.
          <i style="font-size: 1.5em !important;" class="fas fa-shopping-cart text-warning"></i>
        </a>
      </div>
    </div>
  </div>

  <ol *ngIf="userType == 1"
      class="breadcrumb border bg-gray-sardcoin border-gray-sardcoin border-left-0 border-right-0">
    <ng-container *ngIf="desktopMode && isUserLoggedIn">
      <li *ngFor="let item of breadList" class="breadcrumb-item">
        <a [routerLink]="[item.url]" class="text-white">{{item.label}}</a>
      </li>
    </ng-container>

    <select style="height: 3em;" class="custom-select mb-2 mr-sm-2 mb-sm-0 col-5" *ngIf="!desktopMode"
            (change)="navigateTo($event.target.value)">
      <option><a selected>Seleziona...</a></option>
      <option *ngFor="let item of breadList" value='{{item.url}}'>
        <a *ngIf="item !== 'undefined'">{{item.label}}</a>
      </option>
    </select>
  </ol> <!-- Breadcrumb solo per utenti producer -->
</nav>
