<nav class="padding-breadcrumb-mobile" aria-label="breadcrumb"  *ngIf="isUserLoggedIn">
  <ol   class="breadcrumb border border-info border-left-0 border-right-0">
    <ng-container *ngIf="desktopMode && isUserLoggedIn">
      <li *ngFor="let item of breadList" class="breadcrumb-item">
        <a [routerLink]="[item.url]">{{item.label}}</a>
      </li>
    </ng-container>
    <select style="height: 3em;"  class="custom-select mb-2 mr-sm-2 mb-sm-0 col-5" *ngIf="!desktopMode" (change)="navigateTo($event.target.value)">
      <option ><a selected>Choose...</a></option>
      <option *ngFor="let item of breadList" value= '{{item.url}}'>
        <a *ngIf="item !== 'undefined'">{{item.label}}</a>
      </option>
    </select>

    <ng-container *ngIf="desktopMode && usetType == 2">
      <div  class="ml-auto my-auto cursor-pointer cart-div" (click)="viewCart()" style="margin-right:21px">
        <a *ngIf="cart.length === 0">Your cart <b class="text-info">is empty</b>! </a>
        <a class="text-dark" routerLink="/reserved-area/consumer/cart" *ngIf="cart.length > 0 && desktopMode">
          There {{cart.length === 1 ? 'is' : 'are'}} <b class="text-info">{{cart.length}} item{{cart.length === 1 ? '' : 's'}}</b> in your cart. Checkout now!
          <i style="font-size: 1.5em !important;" class="fas fa-shopping-cart text-warning"></i>
        </a>
        <a class="text-dark" routerLink="/reserved-area/consumer/cart" *ngIf="cart.length > 0  && !desktopMode">
          There {{cart.length === 1 ? 'is' : 'are'}} <b class="text-info">{{cart.length}} item{{cart.length === 1 ? '' : 's'}}</b>.
          <i style="font-size: 1.5em !important;" class="fas fa-shopping-cart text-warning">
          </i>
        </a>
      </div>
    </ng-container>

  </ol>
</nav>
