<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7 col-lg-10 col-md-12">
      <div class="col-lg-5 col-md-6 p-3 bg-red-sardcoin" style="border-top-left-radius: 0.75rem; border-top-right-radius: 0.75rem">
        <h4 class="text-white text-center text-uppercase mb-0">Importa Coupon</h4>
      </div>
      <div class="card">
        <div class="card-body px-5 pt-4">
          <p class="text-justify" style="font-size: 16px;">In questa pagina puoi importare un coupon ricevuto
            aggiungendo il suo codice o scansionando il suo codice QR.</p>

          <form [formGroup]="tokenForm">
            <div class="form-group row">
              <div class="col-md-4">
                <input type="text" formControlName="token" class="form-control" placeholder="Inserisci il token"
                       [ngClass]="{ 'is-invalid': submitted && f.token.errors }"/>
                <div *ngIf="submitted && f.token.errors " class="invalid-feedback">
                  <div *ngIf="f.token.errors">Inserisci un Token valido!</div>
                </div>
              </div>

              <div *ngIf="hasCameras" class="col-md-2 col-sm-3 my-2 my-sm-0 text-center">
                <h5 class="mb-0">oppure</h5>
              </div>

              <div *ngIf="hasCameras" class="col-md-4 col-sm-5 mt-xl-0 mt-lg-0 text-sm-left text-center">
                <button class="btn btn-primary" (click)="scan()">Scansiona il QR code</button>
              </div>

            </div>
            <div style="padding-bottom: 1em" class="col">
              <div *ngIf="isScan">
                <div *ngIf="availableDevices">
                  <select
                    class="col-lg-2 col-md-3 col-sm-3 offset-xl-0 offset-md-0 mt-xl-0 mt-lg-0 text-sm-left text-center"
                    (change)="onDeviceSelectChange($event.target.value)">
                    <option
                      class="col-lg-2 col-md-3 col-sm-3 offset-xl-0 offset-md-0 mt-xl-0 mt-lg-0 text-sm-left text-center"
                      value="" [selected]="!selectedDevice">Seleziona
                    </option>
                    <option
                      class="col-lg-2 col-md-3 col-sm-3 offset-xl-0 offset-md-0 mt-xl-0 mt-lg-0 text-sm-left text-center"
                      *ngFor="let device of availableDevices" [value]="device.deviceId"
                      [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div  class="col-sm-6 mb-4 rounded d-flex align-items-center justify-content-center bg-hover" (click)="scan()" style="background-color: #eee;">
              <div *ngIf="!selectedDevice" class="position-absolute"><i class="fas fa-3x fa-camera"></i></div>
              <zxing-scanner
                #scanner style="margin-top: 5px;" class="test-class" start="true" [device]="selectedDevice"
                (scanSuccess)="handleQrCodeResult($event)">
              </zxing-scanner>
            </div>
            <div class="col-md-12 text-sm-right text-center p-0">
              <button *ngIf="desktopMode" (click)="importToken()" class="btn btn-lg btn-success mt-5">
                <i class="fas fa-plus-circle mr-3"></i>Aggiungi ai tuoi acquisti
              </button>
            </div>
            <div class="center text-center ">
              <button *ngIf="!desktopMode" (click)="importToken()" class="btn btn-lg btn-success">
                <i class="fas fa-plus-circle mr-3"></i>Importa
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
