<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-9">
      <div class="card">
        <div class="card-body p-4 b-b-1" style="background:#e0e0e0">
            <img src="assets/img/add_coupon.png" alt="Add new coupon" style="width:50px; float:left; margin-right:30px"/>
            <h6 class="display-4" style="float:left; font-size:30pt;">Add new coupon</h6>
        </div>

        <div class="card-body p-5">
          <form [formGroup]="couponForm" (ngSubmit)="saveCoupon()">
            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Title</label>
              <div class="col-lg-10 col-sm-8">
                <!--<input value="{{couponPass.title}}" type="text" formControlName="title" class="form-control"-->

                <input type="text" formControlName="title" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.title.errors }"/>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors">Title is required, Minimum 5 characters, Maximum 40 character</div>
                </div>
              </div>
            </div> <!-- Title -->
            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Description</label>
              <div class="col-lg-10 col-sm-8">
                <textarea type="text" formControlName="description" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors">Description requires minimum 5 characters, maximum 255 character.
                  </div>
                </div>
              </div>
            </div> <!-- Description -->

            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Image</label>
              <div class="col-lg-10 col-sm-8">

                <input  type="file" class="col-sm-6 p-0" formControlName="image" ng2FileSelect [uploader]="uploader"
                       [ngClass]="{ 'is-invalid': submitted && f.image.errors }"/>

                <div *ngFor="let item of uploader.queue" class="col-sm-6 p-0 mr-0 float-right">
                  <div>
                    <button type="button" class="btn btn-success btn-sm ml-1"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-sm ml-1 btn-secondary"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-sm ml-1 btn-secondary"
                            (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </div>
                </div>

                <div class="mt-2">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         [ngStyle]="{ 'width': uploader.progress + '%' }">
                    </div>
                  </div>
                </div>

                <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                  <!--<div *ngIf="f.image.errors">Image is required</div>-->
                  <div>Image is required.</div>
                </div>
              </div>
            </div> <!-- Image -->
            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Price</label>
              <div class="col-lg-8 col-sm-4">
                <input type="number" formControlName="price" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.price.errors }" min="0" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors">Value required.</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="freeCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="freeCheck">Free</label>
                </div>
              </div>
            </div> <!-- Price -->

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Published From:</label>
              <div class="col-sm-8">
                <input style="background: white" type="text" mwlFlatpickr
                       [clickOpens]="true" [noCalendar]="false"  [convertModelValue]="true" [enableTime]="true"
                       dateFormat="Y-m-d H:i" formControlName="published_from" class="form-control"
                       [style.background]="bgColorPrivate"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_from.errors }"/>
                <div *ngIf="submitted && f.published_from.errors " class="invalid-feedback">
                  <div *ngIf=" f.published_from.errors ">Date or time is incorrect</div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="privateCheck" class="custom-control-input" id="privateCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="privateCheck">Private</label>
                </div>
              </div>
            </div> <!-- Published From -->

            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Valid from</label>
              <div class="col-sm-8 col-lg-8">
                <input style="background: white" type="text" mwlFlatpickr
                       [clickOpens]="true" [noCalendar]="false"  [convertModelValue]="true" [enableTime]="true"
                       dateFormat="Y-m-d H:i" formControlName="valid_from" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_from.errors }"/>
                <div *ngIf="submitted && f.valid_from.errors " class="invalid-feedback">
                  <div *ngIf=" f.valid_from.errors ">Date or time are incorrect.</div>
                </div>
              </div>
            </div> <!-- Valid From -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Valid until</label>
              <div  class="col-sm-4 col-lg-8">
                <!--<ng2-flatpickr  #datepicker style="background: transparent;"  [config]="exampleOptions" formControlName="valid_until" class="form-control"-->
                <!--[ngClass]="{ 'is-invalid': submitted && f.valid_until.errors?.MatchDateFromUntil }"></ng2-flatpickr>-->
                <!--<div *ngIf="submitted && f.valid_until.errors?.MatchDateFromUntil" class="invalid-feedback">-->
                <!--<div *ngIf="f.valid_until.errors?.MatchDateFromUntil">Date or time is incorrect</div>-->
                <!--</div>-->
                <input type="text" mwlFlatpickr
                       [style.background]="bgColorCalendar"
                       [clickOpens]="true"
                       [noCalendar]="false"
                       [convertModelValue]="true"
                       [enableTime]="true"
                       dateFormat="Y-m-d H:i"  formControlName="valid_until" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_until.errors?.MatchDateFromUntil }"/>
                <div *ngIf="submitted && f.valid_until.errors?.MatchDateFromUntil" class="invalid-feedback">
                  <div *ngIf="f.valid_until.errors?.MatchDateFromUntil">Date or time is incorrect</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="valid_until_empty" name="valid_until_empty"
                         class="custom-control-input" id="unlimitedCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="unlimitedCheck">Never expires</label>
                </div>
              </div>
            </div> <!-- Valid Until -->

            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Place</label>
              <div class="col-sm-4 col-lg-8">
                <input  type="text" formControlName="constraints" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.constraints.errors }"/>
                <div *ngIf="submitted && f.constraints.errors" class="invalid-feedback">
                  <div *ngIf="f.constraints.errors">Value required</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="constraintsCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="constraintsCheck">Everywhere</label>
                </div>
              </div>
            </div> <!-- Place (constraints) -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Quantity</label>
              <div class="col-sm-12 col-lg-8">
                <input type="number" formControlName="quantity" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" min="1" max="1"/>
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                  <div *ngIf="f.quantity.errors">Value required or incorrect</div>
                </div>
              </div>
            </div> <!-- Quantity -->

            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Max buyable by single user</label>
              <div  class="col-sm-4 col-lg-8">
                <input  type="text" formControlName="purchasable" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.purchasable.errors }"/>
                <div *ngIf="submitted && f.purchasable.errors" class="invalid-feedback">
                  <div *ngIf="f.purchasable.errors">This value must be less than or equal to the quantity created </div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input  type="checkbox" class="custom-control-input" id="quantityCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="quantityCheck">No limit</label>
                </div>
              </div>
            </div> <!-- Purchasable -->

            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.valid_from.errors?.MatchDate">Either Valid From or Valid Until contains a data
              already passed.
            </div>
            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.valid_until.errors?.MatchDateFromUntil">Expiration date must be after the begin of validity.
            </div>
            <div class="alert alert-danger col-md-12" *ngIf="submitted && f.image.errors?.NoPath">
              Please upload an image before creating the coupon.
            </div>
            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.quantity.errors?.MatchQuantity">Incorrect quantity.
            </div>
            <div class="form group">
              <p>
                <button class="btn btn-block btn-success btn-create-coupon">Create</button>
              </p>
            </div>

          </form>

        </div>

      </div>


    </div>

  </div>
</div>
