label{
  color: #20a8d8 !important;
  padding-top: 10px;
}

p{
  padding-top: 30px !important;
}

div.wrapperDate {
  text-align: center;
}
div.divDateTime {
  display: inline-block;
}

#div.row{
  text-align: left !important;
}

#div.col-md-9{
  display:inline-block;

}

.btn-create-coupon {
  margin: 0 auto;
  padding: 13px;
  width: 40%;
}
