<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-1">
      <div class="card mx-4">
        <div class="card-body p-4">
          <h1 class="text-center">Create</h1>
          <h4 class="text-muted text-center">Create Coupon</h4>

          <form [formGroup]="couponForm" (ngSubmit)="saveCoupon()">
            <label class="text-muted text-center container">Title:</label>
            <input type="text" formControlName="title" class="form-control" />
            <label class="text-muted text-center container">Description:</label>
            <textarea type="text" formControlName="description" class="form-control" ></textarea>
            <label class="text-muted text-center container">Price:</label>
            <input type="number" formControlName="price" class="form-control" />
            <label class="text-muted text-center container">Validity from:</label>
            <input type="date" onfocus="(this.type='date')" formControlName="valid_from" class="form-control" />
            <label class="text-muted text-center container">Validity until:</label>
            <input type="date" onfocus="(this.type='date')" formControlName="valid_until" class="form-control" />
            <label class="text-muted text-center container">State:</label>
            <input type="number" formControlName="state" class="form-control" />
            <label class="text-muted text-center container">Constraints:</label>
            <input type="text" formControlName="constraints" class="form-control" />
            <label class="text-muted text-center container">Owner:</label>
            <input type="number" formControlName="owner" class="form-control" />
            <label class="text-muted text-center container">Consumer:</label>
            <input type="number" formControlName="consumer" class="form-control" />
            <p>
            <button  class="btn btn-block btn-success">Create Coupon</button>
            </p>
          </form>

        </div>

      </div>




    </div>

  </div>
</div>

