.label-tiny {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

h4 {
  font-size: 19px;
}

.card {
  box-shadow: 1px 20px 20px #80808030;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
}
