<div class="container-fluid mb-0">
  <div class="row">
    <div class="col-lg-12 col-xl-9">
      <div class="col-lg-5 col-md-6 p-3 bg-red-sardcoin" style="border-top-left-radius: 0.75rem; border-top-right-radius: 0.75rem">
        <h4 class="text-white text-center text-uppercase mb-0">Credenziali Paypal</h4>
      </div>
      <div class="card">
        <div class="p-4" *ngIf="user !== null">
          <div class="alert alert-warning" role="alert">
            Il salvataggio delle credenziali richieste è sicuro. Inoltre, se è stata selezionata solo l'opzione
            <b>Accept Payments</b>, le credenziali non permettono di eseguire alcuna operazione sull'account PayPal
            dell'utente, ad eccezione della ricezione di pagamenti da parte di altri utenti. In ogni caso,
            l'autorizzazione concessa è valida solo per l'applicazione SardCoin e può essere revocata in qualsiasi
            momento dal proprio account PayPal. Per ulteriori informazioni, consultare questa
            <a href="https://developer.paypal.com/docs/api-basics/manage-apps/#create-or-edit-sandbox-and-live-apps" target="_blank" class="alert-link">pagina</a>.
          </div>
          <form [formGroup]="updatePaypalCredentials" (ngSubmit)="onSubmit()">
            <div class="form-row">
            <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="paypal_email" class="label-tiny">Email Paypal</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fab fa-paypal"></i></span>
                </div>
                <input type="text" formControlName="email_paypal" class="form-control" placeholder="Email Paypal" id="paypal_email"
                       [ngClass]="{ 'is-invalid': submitted && f.email_paypal.errors }"/>

                <div *ngIf="submitted && f.email_paypal.errors" class="invalid-feedback">
                  <!--<div *ngIf="f.email_paypal.errors.required">Email is required</div>-->
                  <div *ngIf="f.email_paypal.errors">Email Paypal non valida</div>
                </div>
              </div> <!-- Mail Paypal -->
            </div> <!-- Paypal mail row -->
            <div class="form-row">
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="client_id" class="label-tiny">Client id</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                </div>
                <input type="text" formControlName="client_id" class="form-control" placeholder="Client id" id="client_id"
                       [ngClass]="{ 'is-invalid': submitted && f.client_id.errors }"/>

                <div *ngIf="submitted && f.client_id.errors" class="invalid-feedback">
                  <div *ngIf="f.client_id.errors.required">Client id obbligatorio</div>
                  <div *ngIf="f.client_id.errors.maxlength">Il Client id non deve superare i 100 caratteri</div>
                </div>
              </div>
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="password_secret" class="label-tiny">Password Secret</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" formControlName="password_secret" class="form-control" placeholder="Password Secret" id="password_secret"
                       [ngClass]="{ 'is-invalid': submitted && f.password_secret.errors }"/>

                <div *ngIf="submitted && f.password_secret.errors" class="invalid-feedback">
                  <div *ngIf="f.password_secret.errors.required">Password_secret obbligatoria</div>
                  <div *ngIf="f.password_secret.errors.maxlength">La password_secret non deve superare 100 caratteri</div>
                </div>
              </div>
              <button class="btn btn-success btn-lg" style="margin: 0 auto;">Salva dati aggiornati</button>
            </div> <!-- Client id and Password Secret -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #updateInfo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sei sicuro?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Vuoi veramente aggiornare le tue informazioni? Sarai disconnesso dalla piattaforma.
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">No</button>
    <button type="button" class="btn btn-success" (click)="updateUser()">
      Si
    </button>
  </div>
</ng-template>
