<!--<footer class="footer bg-white">-->
  <div *ngIf="isDesktop" class="container-fluid bg-gray-sardcoin">
    <div class="float-left text-white">
      <span><a class="text-info" href="https://www.sardcoin.eu">SardCoin</a> © {{this.copyrightYear}} UniCA</span>
    </div>
    <div class="float-right text-white">
      <span>
        Realizzato da
        <a class="text-info" href="https://www.unica.it/unica/it/dip_matinfo.page" target="_blank">
          Dipartimento di Matematica e Informatica
        </a>
      </span>
    </div>
  </div>

  <div *ngIf="!isDesktop" class="w-100 bg-gray-sardcoin text-center py-1">
      <h6 class="w-100 text-white"><a class="text-secondary" href="https://www.sardcoin.eu">SardCoin</a> © {{this.copyrightYear}} UniCA</h6>
      <h6 class="w-100 text-white bg-gray-sardcoin">Realizzato da <a class="text-info" href="https://www.unica.it/unica/it/dip_matinfo.page" target="_blank">UniCA - DMI</a></h6>
  </div>
<!--</footer>-->
