<!--<div *ngIf="couponPass !== null" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mx-4" style="padding: 5px">
        <img class="card-img-top crop centered-and-cropped" src="{{imageURL + couponPass.image}}" alt="Card image cap">
        <div class="card-body p-4">
          <h3 class="card-title">{{couponPass.title}}</h3>
          <div class="coupon-price">{{formatPrice(couponPass.price)}}</div>

          <p class="card-text">{{couponPass.description}}</p>
          <div class="card-text">
            <i class="text-info">Coupon redeem code</i>
            <qrcode [qrdata]="couponPass.token.token" [level]="'M'"></qrcode>
          </div>
          <p class="card-text">
            <i class="fas fa-fw  fa-clock text-secondary"></i> {{formatUntil(couponPass.valid_until)}}
          </p>
          <br/>
          <div class="card-text">
            <span *ngIf="couponPass.constraints">
              <i class="fas fa-fw fa-map-marker-alt text-secondary"></i> {{couponPass.constraints}}

              <img class="img-fluid d-block mt-3" alt="{{couponPass.constraints}} map"
                   src="{{'https://maps.googleapis.com/maps/api/staticmap?size=600x300&zoom=18&maptype=roadmap&markers=size:mid%7C' + couponPass.constraints + 'color:red%7&key=AIzaSyAjKzYOB3pXeI79ONHTp066mDb3xzTtUKc'}}"
              >
            </span>
          </div>
          <br/>
          <div class="card-text">
            <span *ngIf="couponPass.owner">
              <p>Sold by: <b [routerLink]="['/reserved-area/consumer/producer-info']" class="text-info">{{producer === null? null : producer.username}}</b> </p>
            </span>
          </div>
          <br/>
          <div style="text-align:center;">
            <button class=" btn btn-danger btn-retry" (click)="retry()">Back to My Purchases</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>-->

<div *ngIf="couponPass !== null" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mx-4" style="padding: 5px">
        <img class="card-img-top crop centered-and-cropped" src="{{imageURL + couponPass.image}}" alt="Card image cap">
        <div class="card-body p-4">
          <h3 class="card-title mb-0">{{couponPass.title}}</h3>
          <p *ngIf="couponPass.owner">by
            <i [routerLink]="['/reserved-area/consumer/producer-info']"
               class="font-weight-bold text-primary cursor-pointer">{{producer === null ? null : producer.username}}</i>
          </p>

          <div class="coupon-price">{{formatPrice(couponPass.price)}}</div>

          <p class="card-text mt-3">{{couponPass.description}}</p>

          <p class="card-text">
            <i class="fas fa-fw  fa-clock text-secondary"></i> Validity: {{formatUntil(couponPass.valid_until)}}
            <br/>

            <span *ngIf="couponPass.constraints">
              <i class="fas fa-fw fa-map-marker-alt text-secondary"></i> {{couponPass.constraints}}

              <img class="img-fluid d-block mt-3" alt="{{couponPass.constraints}} map"
                   src="{{'https://maps.googleapis.com/maps/api/staticmap?size=600x300&zoom=18&maptype=roadmap&markers=size:mid%7C' + couponPass.constraints + 'color:red%7&key=AIzaSyAjKzYOB3pXeI79ONHTp066mDb3xzTtUKc'}}"
              >
            </span>
          </p>

          <button class="btn btn-danger btn-retry float-right" (click)="retry()">Back to My Purchases</button>

        </div>

      </div>
    </div>
  </div>
</div>
