<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-9">
      <div class="card">
        <div class="card-body p-4 b-b-1" style="background:#e0e0e0">
          <img src="assets/img/add_coupon.png" alt="Add new coupon" style="width:50px; float:left; margin-right:30px"/>
          <h6 class="display-4" style="float:left; font-size:30pt;">Verifier coupon</h6>
        </div>

        <div class="card-body p-5">
          <form [formGroup]="tokenForm" (ngSubmit)="verifier()">
            <div class="form-group row">
              <label class="col-lg-4 col-sm-4 col-form-label">Insert token</label>
              <div class="col-lg-4 col-sm-4">
                <!--<input value="{{couponPass.title}}" type="text" formControlName="title" class="form-control"-->

                <input type="text" formControlName="token" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.token.errors }"/>
                <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
                  <div *ngIf="f.token.errors">Insert a valid token!</div>
                </div>
              </div>
              <div class="form group col-lg-4 col-sm-4">
                <p>
                  <button class="btn btn-block btn-success btn-redeems">Validate</button>
                </p>
              </div>
            </div>


          </form>

        </div>

      </div>


    </div>

  </div>
</div>

