.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  display: block;
  margin-right: 0em;
}

.left {
  display: block;
  margin-left: 0em;
  margin-right: auto;
}

.logo-img {
  min-width: 90px;
}

.padding-left-sidebar-mobile-item {

  padding-left: 2.6em;
}


.border-menu {
  border: none;
}

.position-menu-small {

  position: absolute;
}

#topNav ul li ul{
  max-height:250px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
}

.image-center {
  /*left: 50%;*/
  /*position: fixed;*/
}
.center-block {
  position: fixed;
  display: block;
  left: 50%;



}


.crop-logo {
  width: 10em;
  height: 3em;

}

.crop-logo-small {
  width: 8em;
  height: 2.5em;

}

.full-image {
  width: 200px;
  height: 30px;
  width: 13em;
  height: 3em;

}

#container{width:100%;}
#left{float:left;width:100px;}
#right{width:100px; position: fixed;
  top:0px!important;
  right:0px!important;
  z-index:10!important;}
#center{margin:0 auto;width:100px;}

#container-right{width:100%; }
#left-right{float:left;width:100px;}
#right-right{float:right;width:100px;}
#right-right-1{float:right;width:100px;}


