<!-- TODO Impostare navbar personalizzate se utente è loggato o meno -->

<!-- If user is not logged in-->

<!--*********per desktop********************-->


<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top col-12">
  <button type="button" id="sidebarCollapse" class="navbar-toggler col-2" (click)="showSideBar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <picture >
    <source media="(min-width: 768px)" srcset="assets/img/brand/sardcoin-logo.png">
    <source media="(min-width: 200px)" srcset="assets/img/brand/sardcoin-logo-small.png">
    <img class="center" alt="noImage">
  </picture>


  <img *ngIf="isUserLoggedIn" style="padding: 0px; max-width: 45px !important; height: auto"
       class="nav-link navbar-toggler col-2" type="button" data-toggle="collapse"
       data-target="#navbarNavDropdown"
       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
       src="assets/img/avatars/8.jpg" alt="{{username}}">
    <!--<span class="navbar-toggler-icon col-2"></span>-->

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <div *ngIf="!isUserLoggedIn">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/authentication/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/authentication/register']">Sign Up</a>
        </li>
      </ul>
    </div>

    <div *ngIf="isUserLoggedIn" class="ml-auto">
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
          <a  *ngIf="isDesktop" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">
            <i>Welcome back, <b>{{username}}</b>!</i>
            <!--<i class="fa fa-2x fa-user-tie"></i>-->
            <img class="img-avatar" src="assets/img/avatars/8.jpg" alt="{{username}}">
          </a>
          <div class="dropdown-menu dropdown-menu-right float-right col-2">
            <div class="dropdown-header text-center">
              <strong class="text-capitalize">Settings</strong>
            </div>
            <a class="dropdown-item cursor-pointer" [routerLink]="['/reserved-area/' + userStringType +'/personal-info']">
              <i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-wrench"></i> Settings</a>
            <a class="dropdown-item cursor-pointer" (click)="openModal(template)">
              <i class="fa fa-lock"></i> Logout</a>
            <ng-template #template>
              <div class="modal-header">
                <h4 class="text-info modal-title pull-left">Confirm logout?</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <p class="text-danger ">Remember that you will lose your cart when logging out.</p>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="decline()">No</button>
                <button type="button" class="btn btn-success" (click)="logout()">Yes</button>
              </div>
            </ng-template>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
