.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.right {

  display: block;
  margin-right: 0em;


}

.left {

  display: block;
  margin-left: 0em;
  margin-right: auto;


}

.padding-left-sidebar-mobile-item {

  padding-left: 2.6em;
}


.border-menu {
  border: none;
}

.position-menu-small {

  position: absolute;
}
