<div *ngIf="couponPass !== null && categoriesUpdate" class="container-fluid mb-0">
  <div class="row">
    <div class="col-xl-8 col-lg-11 col-md-12">
      <div class="col-sm-6 col-lg-5 col-md-6 p-3 bg-red-sardcoin"
           style="border-top-left-radius: 0.75rem; border-top-right-radius: 0.75rem">
        <h4 class="text-white text-center text-uppercase mb-0">{{fromEdit ? 'Modifica ' : 'Crea '}} un coupon</h4>
      </div>
      <div class="card">
        <div class="card-body p-5">
          <form [formGroup]="couponForm" (ngSubmit)="saveChange()">

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Titolo</label>
              <div class="col-sm-10">
                <textarea rows="2" type="text" formControlName="title" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.title.errors }"></textarea>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors">Titolo obbligatorio, da 5 a 80 caratteri</div>
                </div>
              </div>
            </div> <!-- Title -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Descrizione:</label>
              <div class="col-sm-10">
                <div [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                  <quill-editor [modules]= "this.toolbarOptions"  format="html" formControlName="description" [styles]="{height: '200px'}" (onFocus)="focus($event)" (onEditorChanged)="changedEditor($event)" (onBlur)="blur($event)" (onEditorCreated)="created($event)"></quill-editor>
                </div>

<!--                <textarea rows="7" type="text" formControlName="description" class="form-control"-->
<!--                          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>-->
<!--                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">-->
<!--                  <div *ngIf="f.description.errors">Descrizione obbligatoria, deve essere tra 1 e 55000 caratteri. Le immagini contengono molti caratteri.</div>-->
<!--                </div>-->
              </div>
            </div> <!-- Description -->

            <div class="form-group row">
              <label class="col-lg-2 col-sm-4 col-form-label">Immagine</label>

                <div class="col-lg-2 col-sm-4 col-form-label" id="yourImage">
                  <img src="{{imageSelected? imageSelected: imageURL}}">
                </div>
                  <div >


                    <input (change)="preview(file.files)" #file class="col-lg-9 col-sm-6 col-form-label" accept="image/*" type="file"  id="files" formControlName="image" ng2FileSelect [uploader]="uploader"
                           [ngClass]="{ 'is-invalid': submitted && f.image.errors }"/>
                    <!--style="display:none;"-->
                    <!--<label for="files" style="margin-top: 10px">
                      <span class="span-style">
                      Sfoglia
                      </span>
                    </label>-->

                  </div>

                <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                  <!--<div *ngIf="f.image.errors">Image is required</div>-->
                  <div>Immagine obbligatoria.</div>
                </div>
            </div> <!-- Image -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Prezzo</label>
              <div class="col-sm-8">
                <input [readonly]="markedFree" type="number" formControlName="price" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.price.errors }"/>
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors">Valore obbligatorio</div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="freeCheck"
                         [checked]="markedFree" (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="freeCheck">Gratis</label>
                </div>
              </div>
            </div> <!-- Price -->

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Visibile da:</label>
              <div class="col-sm-8">
                <input style="background: white" type="text" mwlFlatpickr
                       [clickOpens]="true" [noCalendar]="false" [convertModelValue]="true" [enableTime]="true"
                       dateFormat="Y-m-d H:i" formControlName="published_from" class="form-control"
                       [style.background]="bgColorPrivate"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_from.errors }"/>
                <div *ngIf="submitted && f.published_from.errors " class="invalid-feedback">
                  <div *ngIf=" f.published_from.errors ">Data non corretta</div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="privateCheck" class="custom-control-input" id="privateCheck"
                         [checked]="markedPrivate" (change)="toggleCheckbox($event)"
                         data-md-icheck>
                  <label class="custom-control-label" for="privateCheck">Privato</label>
                </div>
              </div>
            </div>
            <div  class="form-group row">
              <label class="col-sm-2 col-form-label">Seleziona categorie: </label>
              <div class="col-sm-8">
                <ng-select formControlName="categories"
                           [items]="categories"
                           [multiple]="true"
                           [closeOnSelect]="true"
                           [searchable]= "true"
                           bindLabel="name"
                           placeholder="Seleziona categorie"
                           [(ngModel)]="selectedCategories">
                </ng-select>
              </div>

            </div>
            <div  class="form-group row">
              <label class="col-sm-2 col-form-label">Privato per: </label>
              <div class="col-sm-8">
                <ng-select formControlName="broker"
                           [items]="brokers"
                           [multiple]="true"
                           [closeOnSelect]="true"
                           [searchable]="true"
                           bindLabel="username"
                           placeholder="Seleziona broker"
                           [(ngModel)]="selectedBroker">
                </ng-select>
              </div>
            </div>
            <!-- Published From -->

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Valido da:</label>
              <div class="col-sm-10">
                <input style="background: white" type="text" mwlFlatpickr
                       [clickOpens]="true" [noCalendar]="false" [convertModelValue]="true" [enableTime]="true"
                       dateFormat="Y-m-d H:i" formControlName="valid_from" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.valid_from.errors }"/>
                <div *ngIf="submitted && f.valid_from.errors " class="invalid-feedback">
                  <div *ngIf=" f.valid_from.errors ">Data non corretta</div>
                </div>
              </div>
            </div> <!-- Valid From -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Scadenza:</label>
              <div class="col-sm-8">
                <input type="text"
                       [style.background]="bgColorCalendar"
                       [noCalendar]="false"
                       [convertModelValue]="true"
                       [enableTime]="true"
                       dateFormat="Y-m-d H:i" formControlName="valid_until" class="form-control"
                       [ngClass]="{ 'is-invalid':  submitted && f.valid_until.errors?.MatchDateFromUntil }"
                       mwlFlatpickr/>
                <!--[ngStyle]="{'background': markedUnlimited ? '#e4e7ea' : 'white' }"-->
                <div *ngIf="submitted && f.valid_until.errors?.MatchDateFromUntil" class="invalid-feedback">
                  <div *ngIf="f.valid_until.errors?.MatchDateFromUntil">Data incorretta</div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="valid_until_empty" name="valid_until_empty"
                         class="custom-control-input" id="unlimitedCheck"
                         (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="unlimitedCheck">Illimitato</label>
                </div>
              </div>
            </div> <!-- Valid Until -->

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Luogo:</label>
              <div class="col-sm-8">
                <input [readonly]="markedConstraints" type="text" formControlName="constraints" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.constraints.errors }"/>
                <div *ngIf="submitted && f.constraints.errors" class="invalid-feedback">
                  <div *ngIf="f.constraints.errors">Valore obbligatorio</div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="constraintsCheck"
                         [checked]="markedConstraints" (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="constraintsCheck">Ovunque</label>
                </div>
              </div>
            </div> <!-- Constraints -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Quantità</label>
              <div class="col-sm-10">
                <input type="number" formControlName="quantity" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"/>
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                  <div *ngIf="f.quantity.errors">Valore richiesto o incorretto</div>
                </div>
              </div>
            </div> <!-- Quantity -->

            <div class="form-group row">
              <label class="col-sm-4 col-lg-2 col-form-label">Acquisto max per utente</label>
              <div class="col-sm-4 col-lg-8">
                <input type="number" formControlName="purchasable" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.purchasable.errors }"/>
                <div *ngIf="submitted && f.purchasable.errors" class="invalid-feedback">
                  <div *ngIf="f.purchasable.errors">Questo valore deve essere inferiore o uguale alla quantità creata</div>
                </div>
              </div>
              <div class="col-sm-4 col-lg-2 my-auto">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="quantityCheck"
                         [checked]="markedQuantity" (change)="toggleCheckbox($event)" data-md-icheck>
                  <label class="custom-control-label" for="quantityCheck">Senza limite</label>
                </div>
              </div>
            </div> <!-- Purchasable -->

            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.valid_from.errors?.MatchDate">La data inserita è già trascorsa!
            </div>
            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.valid_until.errors?.MatchDateFromUntil">la scadenza precede l'inizio
            </div>

          <!--<div class="alert alert-danger col-md-12" *ngIf="submitted && f.image.errors?.NoPath">-->
          <!--Please upload an image before create the coupon.-->
          <!--</div>-->
          <div class="alert alert-danger col-md-12" *ngIf="submitted && f.quantity.errors?.MatchQuantity">
            Quantità non corretta.
          </div>
          <div *ngIf="submitted && f.description.status === 'INVALID'" class="alert alert-danger col-md-12">
            <div >Descrizione obbligatoria, deve essere tra 1 e 55000 caratteri. Le immagini contengono molti caratteri.
            </div>
          </div>
          <div class="form group">
            <p>
              <button class="btn btn-block btn-success">{{fromEdit ? 'Salva modifiche' : 'Crea Coupon'}}</button>
            </p>
          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
