<div class="row">
  <div class="col-md-4 col-sm-6" *ngFor="let coupon of coupons">
    <div class="card">
      <img class="card-img-top crop centered-and-cropped" [ngStyle]="{'opacity': inCart(coupon.id) ? '0.5' : '1'}" [src]="imageUrl(coupon.image)" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{coupon.title}}</h5>
        <p class="card-text">{{coupon.description}}</p>
      </div>
      <div class="card-footer">
        <button [disabled]="inCart(coupon.id)" type="button" class="btn btn-success float-right ml-1" title="{{inCart(coupon.id) ? 'Item already added: go to the cart to change the quantity.' : ''}}"
                (click)="openModal(template, coupon)"><i class="fas fa-plus-circle"></i> Add to cart
        </button>
        <button type="button" class="btn btn-primary text-white float-right" (click)="details(coupon)"><i class="fas fa-info-circle"></i> Details</button>
      </div>
      <div class="coupon-price">{{formatPrice(coupon.price)}}</div>
      <div class="coupon-cart cursor-pointer" *ngIf="inCart(coupon.id)" (click)="viewCart()">
        <i class="fas fa-cart-arrow-down"></i>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-plus-circle mr-3"></i>Add "{{modalCoupon.title.length > 20 ? modalCoupon.title.substring(0, 20) + '...' : modalCoupon.title}}" to the cart</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="myForm" class="container">
      <div class="form-group row">
        <label class="col-sm-7 my-auto" style="font-size: 16px;">Choose the quantity:<i class="text-info">
          ({{maxQuantity}} available)</i></label>

        <input formControlName="quantity" class="col-sm-2 form-control d-inline-block" type="number" min="1"
               max="{{modalCoupon.quantity}}"/>

        <button class="btn btn-secondary col-sm-1 ml-1" (click)="del()" [disabled]="myForm.value.quantity === 1">
          <i class="fas fa-minus text-white"></i>
        </button>
        <button class="btn btn-primary col-sm-1 ml-1" (click)="add()" [disabled]="isMax"><i class="fas fa-plus text-white"></i></button>

        <div class="col-sm-12 ml-2" style="color: #bd0a0d;" *ngIf="f.quantity.errors">Insert a valid quantity!</div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">Cancel</button>
    <button [disabled]="inCart(modalCoupon.id)" type="button" class="btn btn-success" (click)="addToCart(modalCoupon)">
      Add
    </button>
  </div>
</ng-template>

