.card {
  margin-bottom: 0;
  height: 100%;
  padding: 3px;
}

.col-md-4.col-sm-6 {
  margin-bottom: 15px;
  margin-top: 15px;
}


.crop {
  width: 100%;
  height: 240px;
  overflow: hidden !important;
}

.centered-and-cropped {
   object-fit: cover
}
.inline-button-input {
  display: inline-block;
  border-radius: 0.15em;
  border: 1px solid lightgray;

}

.button-add-del {
  border-radius: 25em !important;
}
