<div class="container-fluid mb-0" *ngIf="producer !== null">
  <div class="row">
    <div class="col-lg-6 col-xl-6">
      <div class="card">
        <div class="card-body p-4 b-b-1" style="background:#e0e0e0">
          <img src="assets/img/avatars/1.jpg" alt="Add new coupon" style="width:50px; float:left; margin-right:30px"/>
          <h6 class="display-4" style="float:left; font-size:30pt;">{{producer.company_name}} - {{producer.first_name +
            ' ' + producer.last_name}}</h6>
        </div>
        <div class="p-4">
          <h4>Address</h4>
          <p class="ml-2">
            {{producer.address}}<br/>
            {{producer.zip + ' - ' + producer.city + ' (' + producer.province + ')'}}
          </p>

          <h4>Contatto Email</h4>
          <p class="ml-2"><a href="mailto:{{producer.email}}">{{producer.email}}</a></p>
          <div>
            <button class="btn btn-danger float-right" (click)="retry()">Ritorna allo Shopping</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
