<h1 class="text-center">Coupon List</h1>

<body>
<div class="reglist">
  <table class="table table-striped">
    <tr>
      <td width="5%">id</td>
      <td width="50%">Title</td>
      <td width="5%">Timestamp</td>
      <td width="5%">Price</td>
      <td width="5%">Valid From</td>
      <td width="5%">Valid Until</td>
      <td width="5%">State</td>
      <td width="5%">Constraints</td>
      <td width="5%">Consumer</td>
      <td width="5%" minlength="5%">
        <button style="visibility: hidden"  type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
      </td>
      <td width="5%" minlength="5%">
        <button style="visibility: hidden" type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
      </td>
    </tr>
  </table>
</div>

<app-coupon-item></app-coupon-item>








</body>
