<h1 class="text-center">Coupon List</h1>

<body>
  <table class="table table-striped">
    <tr>
      <td >Title</td>
      <td >Timestamp</td>
      <td >Price</td>
      <td >Valid From</td>
      <td >Valid Until</td>
      <td >State</td>
      <td >Constraints</td>
      <td >Owner</td>
      <td >Consumer</td>
      <td  >
        <button style="visibility: hidden"  type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
      </td>
      <td width="5%" minlength="5%">
        <button style="visibility: hidden" type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
      </td>
    </tr>
  </table>
<div *ngFor="let coupon of couponArray">

<app-coupon-item [coupon]="coupon"></app-coupon-item>

</div>





</body>
