<div class="form-inline mb-2">
</div>
<div *ngIf="couponPass !== null" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mx-4" style="padding: 5px">
        <div class="card-body p-4">
          <h6 style="text-align:center;" class="card-title text-info">Details producer of the {{couponPass.title}} coupon</h6>
<div >

  <div *ngIf=" producerCoupon.user_type == 2">
    <p class="mb-3 col-md-6 ">
      <p>Company name: <i type="text"> {{producerCoupon.company_name}}</i> </p>
      <p>Vat Number: <i type="text"> {{producerCoupon.vat_number}}</i> </p>

  </div>

  <div >
    <p class="mb-3 col-md-6 ">
    <p class="text-info col-md-8 offset-md-2 ">Username: <i style="color: #999999;" class="card-text" type="text"> {{producerCoupon.username}}</i> </p>
    <p class="text-info col-md-8 offset-md-2">First name: <i style="color: #999999;" class="card-text" type="text"> {{producerCoupon.first_name}}</i> </p>
    <p class="text-info col-md-8 offset-md-2">Last name: <i style="color: #999999;" class="card-text" type="text"> {{producerCoupon.last_name}}</i> </p>
    <p class="text-info col-md-8 offset-md-2">Province: <i style="color: #999999;" class="card-text" type="text"> {{producerCoupon.province}}</i> </p>
    <p class="text-info col-md-8 offset-md-2">Address: <i style="color: #999999;" class="card-text" type="text"> {{producerCoupon.address}}</i> </p>
    <p class="text-info col-md-8 offset-md-2">Zip code: <i  style="color: #999999;" class="card-text" type="text"> {{producerCoupon.zip}}</i> </p>
    <p class="text-info col-md-8 offset-md-2">City: <i style="color: #999999;" class="card-text" type="text"> {{producerCoupon.city}}</i> </p>
  </div>
  <div style="text-align:center;">
  <button class=" btn btn-danger btn-retry" (click)="retry()">Back to Shopping</button>
  </div>
  </div>
      </div>
    </div>
  </div>
  </div>
