

    <tr>
      <td scope="col">{{coupon.title}}</td>
      <td scope="col">{{coupon.timestamp}}</td>
      <td scope="col">{{coupon.price}}</td>
      <td scope="col">{{coupon.valid_from}}</td>
      <td scope="col">{{coupon.valid_until}}</td>
      <td scope="col" >{{coupon.state}}</td>
      <td scope="col">{{coupon.constraints}}</td>
      <td scope="col">
        <button type="button" class="btn btn-info" (click)="onEdit()">Edit</button>
      </td >
      <td scope="col">
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
      </td>
    </tr>


