<div class="reglist">
  <table class="table table-striped">

    <tr>
      <th width="5%">id</th>
      <th width="50%">la bella e la bestia è una storiaccia</th>
      <th width="5%">Timestamp</th>
      <th width="5%">Price</th>
      <th width="5%">Valid From</th>
      <th width="5%">Valid Until</th>
      <th width="5%">State</th>
      <th width="5%">Constraints</th>
      <th width="5%">Consumer</th>
      <td width="5%">
        <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
      </td>
      <td width="5%">
        <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
      </td>
    </tr>
  </table>
</div>
