  <table  class="table table-striped">

    <tr>
      <td >{{coupon.title}}</td>
      <td >{{coupon.timestamp}}</td>
      <td >{{coupon.price}}</td>
      <td >{{coupon.valid_from}}</td>
      <td >{{coupon.valid_until}}</td>
      <td >{{coupon.state}}</td>
      <td >{{coupon.constraints}}</td>
      <td >{{coupon.owner}}</td>
      <td >{{coupon.consumer}}</td>
      <td >
        <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
      </td>
      <td >
        <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
      </td>
    </tr>
  </table>


