// TODO Refactor

.alert-registration {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
}

.nav-item .nav-link > .img-avatar, .nav-item .avatar.nav-link > img {
  height: 35px;
  margin: 0 10px;
}

body {
  padding-top: 56px;
  background-color: #f1f2f3!important;
}

.sticky-offset {
  top: 56px;
}

#main-content .container-fluid {
  margin-bottom: 60px;
}

#main-content .container-fluid {
  min-height: calc(100% - 56px - 54px);
}

#body-row {
  margin-left: 0;
  margin-right: 0;
}

app-core-sidebar {
  min-height: calc(100vh - 56px);
  background-color: #2f353a;
  padding: 0;
}

#main-content {
  min-height: calc(100vh - 56px);
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  min-width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #2f353a;
  height: 35px;
}

.sidebar-separator {
  background-color: #2f353a;
  height: 25px;
}

.logo-separator {
/*  background-color: #333;
  height: 60px;*/
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group a.list-group-item {
  background-color: inherit;
}

#sidebar-container .list-group a.list-group-item:hover {
  background-color: #20a8d8;
}

.list-group-item {
  border: 0;
}

.app, app-dashboard, app-root {
  min-height: auto;
}

app-core-header .navbar {
  height: 56px;
}

.cart-div:hover {
  a {
    text-decoration: none;
  }

  b.text-info {
    color: #bd0a0d!important;
  }
}

.col-1-5 {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

app-core-breadcrumb nav {
  height: 50px;
}

app-feature-authentication-login .container {
  //margin-top: calc(25% - 28px - 25px );
}


.btn.btn-info.btn-sm.resetBtn {
  margin-bottom: 0.5rem!important;
}

angular-file-uploader div.container {
  padding: 0;

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.coupon-price {
  position: absolute;
  background-color: #4dbd74;
  border-radius: 0 0 0 0.25rem;
  top: 0;
  right: 0;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  text-shadow: 1px 1px 8px black;
}

.coupon-cart {
  position: absolute;
  background-color: #bd0a0d;
  border-radius: 0 0 0.25rem 0;
  top: 0;
  left: 0;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  text-shadow: 1px 1px 8px black;
}

.coupon-quantity {
  position: center;
  background-color: #bd0754;
  border-radius: 0 0 0 0.20rem;
  top: 0;
  right: 0;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  text-shadow: 1px 1px 8px black;
  text-align: center;
}

// Table Format Coupon list
.table thead th {
  font-size: 18px;
}

.table tbody tr {
  font-size: 16px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #F4FBFE;
}

table {
  background-color: white!important;
  border: 1px solid #778899;
}

.form-check {
  padding-top: 10px;

  .form-check-label {
    padding-top: 0!important;
    color: black!important;
  }
}

.card.col-md-4 {
  padding: 0;
}

// Cursor pointer
.cursor-pointer {
  cursor: pointer;
}

.cart-crop {
  width: 100%;
  height: 70px;
  overflow: hidden !important;
}
