// TODO Refactor

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.alert-registration {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

.nav-item .nav-link > .img-avatar, .nav-item .avatar.nav-link > img {
  height: 35px;
  margin: 0 10px;
}

body {
  background-color: #f1f2f3!important;
}

.sticky-offset {
  top: 56px;
}

#main-content > .container-fluid {
  min-height: calc(100% - 56px - 47px); // - 54px instead of -40px
}

#body-row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 56px;
}

app-core-sidebar {
  background-color: white;
  padding: 0;
  border: #33b5e5;
  position: fixed;
  margin-top: 4.4em;
}

#main-content {
  min-height: calc(100vh - 116px); /*calc(100vh - 47px); TODO CHECK*/
  min-width: calc(100% - 230px);
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main-container {
  /*9px 28px; */
  margin-top: 47px;
  flex: 1 0 auto;
  /* TODO check PADDING RIGHT */
  padding: 15px 0 15px 0;
}

@media only screen and (max-width: 767px) {
  #main-content {
    margin-left: 0;
  }
  #breadcrumb-style {
    margin-left: 0;
    min-height: 100%;
    min-width: 100%;
  }

  #main-container {
    margin-top: 0px; // was 27px
  }
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #2f353a;
  height: 35px;
}

.sidebar-separator {
  background-color: #2f353a;
  height: 25px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group a.list-group-item:hover {
  background-color: revert;
}

.list-group-item {
  border: 0;
}

.app, app-dashboard, app-root {
  min-height: auto;
}

app-core-header .navbar {
  height: 56px;
}

.cart-div:hover {
  a {
    text-decoration: none;
  }

  b.text-info {
    color: #bd0a0d!important;
  }
}

.col-1-5 {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

app-core-breadcrumb nav {
  height: 50px;
}

#select-category {
  height: 35px;
}

@media only screen and (max-width: 768px){
  .search-input {
    width: 50%;
  }
}

@media only screen and (max-width: 450px){
  .search-input {
    width: 30%;
  }
}

.btn.btn-info.btn-sm.resetBtn {
  margin-bottom: 0.5rem!important;
}

angular-file-uploader div.container {
  padding: 0;

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.coupon-price, .coupon-package {
  position: absolute;
  top: 0;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  text-shadow: 1px 1px 8px black;
}

.coupon-price {
  background-color: #4dbd74;
  right: 0;
}

.coupon-package {
  color: #fff;
  background-color: #bd0a0d;
  left: 0;
  box-shadow: 1px 1px 5px gray;
}

.coupon-cart {
  position: absolute;
  background-color: #bd0a0d;
  border-radius: 0 0 0.25rem 0;
  top: 0;
  left: 0;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  text-shadow: 1px 1px 8px black;
}

.coupon-quantity {
  position: center;
  background-color: #bd0754;
  border-radius: 0 0 0 0.20rem;
  top: 0;
  right: 0;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  text-shadow: 1px 1px 8px black;
  text-align: center;
}

// Table Format Coupon list
.table thead th {
  font-size: 18px;
}

.table tbody tr {
  font-size: 16px;
}

.table-striped > tbody.striped > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fff;
}

.table-striped > tbody.striped > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #edf5fd;
}

table {
  background-color: white!important;
  border: 1px solid #778899;
  box-shadow: 1px 20px 20px #80808030
}

.form-check {
  padding-top: 10px;

  .form-check-label {
    padding-top: 0!important;
    color: black!important;
  }
}

.card.col-md-4 {
  padding: 0;
}

// Cursor pointer
.cursor-pointer {
  cursor: pointer;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: 0.5!important;
}

.cart-crop {
  width: 100%;
  height: 70px;
  overflow: hidden !important;
}

.red-sardcoin {
  color: rgb(204, 51, 0) !important;
}

.bg-red-sardcoin {
  background-color: rgb(204, 51, 0) !important;
}

.gray-sardcoin {
  color: rgb(51, 63, 80) !important;
}

.bg-gray-sardcoin {
  background-color: rgb(51, 63, 80) !important;
}

.border-red-sardcoin {
  border-color: rgb(204, 51, 0) !important;
}

.border-gray-sardcoin {
  border-color: rgb(51, 63, 80) !important;
}

.table thead th {
  font-size: 15px;
}

table {
  border-collapse: collapse;
  border: 0;
}

tbody > tr.bg-blue > td {
  padding: 2px;
}
